.backlogs-tool-panel-header .capacity-pane-title {
  position: relative !important;
  font-weight: bold !important;
}

.tfsTeamHeader {
  margin-left: 10px;
}

.tfsCheckboxLabel {
  cursor: pointer;
}
