app-loading {
  .la-timer {
    top: 45% !important;
    transform: translate(-50%, -45%) !important;
  }
  .loading-text {
    top: 75% !important;
    transform: translate(-50%, -75%) !important;
  }
}
